{% extends "layout.html" %}

{% block title %}Story Intro{% endblock %}

{% block main %}

<style>
    body {
        background-image: url("/static/storybg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

</style>

<div class="container">
    <div class="path">
        <img src="/static/rocket.png" class="rocket" data-pos="16.66">
    </div>
    <div class="story-text">
        <h1 class="fs-1 lead">Destination 2 - Kepler 70</h1>
        <hr>
        <div class="card bg-dark p-2 t-card">
            Welcome aboard the Celestial Voyager, an advanced superluminal spacecraft engineered for interstellar exploration.
        </div>
        <div class="card bg-dark p-2 t-card mt-3">
            Our mission is to embark on a remarkable journey through the cosmos, traversing six distinct alien world systems, each representing unique celestial phenomena and potential for discovery. 
        </div>
        <div class="card bg-dark p-2 t-card mt-3">
            As we navigate the vast expanse of space, we will witness the complexities of astrophysical environments and the diverse characteristics that define these worlds. 
        </div>
        <div class="card bg-dark p-2 t-card mt-3">
            Prepare for an extraordinary adventure as we set our course through the unknown, expanding the boundaries of human knowledge and understanding of the universe.
        </div>
    </div>
    <h1>Kepler 16A - First Binary Star</h1>
    <iframe class="embed-responsive-item mt-3" src="https://eyes.nasa.gov/apps/exo/#/star/Kepler-16_A" id="kepler-16a-frame" allowfullscreen scrolling="false" width="1026" height="578"></iframe>
    <hr>
    <h1>Kepler 16B - Second Binary Star</h1>
    <iframe class="embed-responsive-item mt-3" src="https://eyes.nasa.gov/apps/exo/#/star/Kepler-16_B" id="kepler-16a-frame" allowfullscreen scrolling="false" width="1026" height="578"></iframe>
    <div class="btn-group-sm mt-3" role="group">
        <a class="btn btn-outline-info btn-lg mw-2" href="/story/1">
        <i class="fas fa-arrow-left"></i>
        </a>
        <a class="btn btn-outline-info btn-lg mw-2" href="/story/1">
        <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</div>

{% endblock %}
