{% extends "layout.html" %}

{% block title %}Kepler 7b{% endblock %}

{% block main %}

<style>
    body {
        background-image: url("/static/storybg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<div class="container">
    <div class="path">
        <img src="/static/rocket.png" class="rocket" data-pos="41.16">
    </div>

    <div class="story-text">
        <h1 class="fs-1 lead">Planet System - Kepler 7b</h1>
        <hr>
        <div class="card bg-space p-2 t-card mt-3 left-card">Kepler-7b is one of the first five exoplanets confirmed by NASA's Kepler spacecraft, confirmed in the first 33.5 days of Kepler's science operations. It orbits a star slightly hotter and significantly larger than the Sun, which is expected to soon reach the end of the main sequence.</div>
    
        <h2>Characteristics</h2>
        <h3>Mass, Temperature, and Orbit</h3>
        <div class="card bg-space p-2 t-card mt-3 left-card">Kepler-7b is classified as a hot Jupiter, being about half the mass of Jupiter but nearly 1.5 times its size. At the time of its discovery, it was the second most diffuse planet known, surpassed only by WASP-17b. It orbits its host star every five days at a distance of approximately 0.06 AU (9,000,000 km or 5,592,340 mi).</div>
        
        <div class="card bg-space p-2 t-card mt-3 left-card">Its equilibrium temperature, due to its proximity to its star, is hot, measured at nearly 1540 K. However, among the first five planets discovered by Kepler, it is the second coolest, surpassed only by Kepler-6b. This is over twelve times hotter than Jupiter. Kepler-7b has a mass of only 0.433 times that of Jupiter but has expanded to a radius of 1.478 times that of Jupiter due to its proximity to its star. Consequently, its mean density is only 0.166 g/cm³, comparable to expanded polystyrene. At the time of Kepler-7b's discovery, only WASP-17b was known to have a lower density. Such low densities are not predicted by current standard theories of planet formation.</div>
    
        <div class="card bg-space p-2 t-card mt-3 left-card">Kepler-7b orbits its host star every 4.8855 days at a distance of 0.06224 AU, making it the furthest-orbiting planet of the first five discovered by Kepler. Mercury, in contrast, orbits at a distance of 0.387 AU every 87.97 days. Additionally, Kepler-7b has an observed orbital inclination of 86.5º, meaning that its orbit is almost edge-on as seen from Earth.</div>
    
        <h3>Cloud Mapping</h3>
        <div class="card bg-space p-2 t-card mt-3 left-card">Astronomers using data from NASA's Kepler and Spitzer space telescopes have created a cloud map of the planet, the first cloud map to be created beyond the Solar System. Kepler's visible-light observations of Kepler-7b's Moon-like phases led to a rough map showing a bright spot on its western hemisphere. However, these data alone could not determine whether the bright spot originated from clouds or heat. The Spitzer Space Telescope played a crucial role in answering this question. It was noted that the clouds may be composed of rock and iron, given the planet's extreme temperatures. Unlike clouds on Earth, the patterns on Kepler-7b do not change much over time, indicating a remarkably stable climate.</div>
    
        <h2>Host Star</h2>
        <div class="card bg-space p-2 t-card mt-3 left-card">Kepler-7 is the largest host star of the first five planets detected by Kepler, situated in the Lyra constellation. The star has a radius 184% that of the Sun and has 135% the Sun's mass. It is slightly hotter than the Sun, with an effective temperature of 5933 K. The star is near the end of its life on the main sequence and has a metallicity of [Fe/H] = 0.11, indicating that it has 128% the amount of iron compared to the Sun.</div>
    
        <h2>Discovery</h2>
        <div class="card bg-space p-2 t-card mt-3 left-card">In 2009, NASA's Kepler space telescope completed the last tests on its photometer, which detects transit events when a planet crosses in front of its host star. In this last test, Kepler observed 50,000 stars in the Kepler Input Catalog, including Kepler-7. The preliminary light curves were analyzed, and Kepler-7 was not one of the original candidates. After a resting period of 1.3 days, Kepler began a nonstop 33.5-day period of observation, testing for false positives. Kepler-7's candidate was confirmed using Doppler spectroscopy and other imaging techniques.</div>
    
        <div class="card bg-space p-2 t-card mt-3 left-card">Kepler's first discoveries, including Kepler-4b, Kepler-5b, Kepler-6b, Kepler-7b, and Kepler-8b, were announced on January 4, 2010, at the 215th meeting of the American Astronomical Society in Washington, D.C. In May 2011, the planet was detected by brightness variations caused by reflected starlight, revealing a relatively high geometric albedo of 0.3.</div>
    </div>
    

    <!-- Planet properties grid -->
    <div class="planet-grid">
        <div class="grid-item"><strong class="info-title">Planet Radius:</strong> 1.622 x Jupiter</div>
        <div class="grid-item"><strong class="info-title">Planet Type:</strong> Gas Giant</div>
        <div class="grid-item"><strong class="info-title">Discovery Method:</strong> Transit</div>
        <div class="grid-item"><strong class="info-title">Planet Mass:</strong> 0.441 Jupiters</div>
        <div class="grid-item"><strong class="info-title">Discovery Date:</strong> 2009</div>
        <div class="grid-item"><strong class="info-title">Orbital Radius:</strong> 0.06067 AU</div>
        <div class="grid-item"><strong class="info-title">Orbital Period:</strong> 4.9 days</div>
        <div class="grid-item"><strong class="info-title">Eccentricity:</strong> 0.0</div>
    </div>

    <hr>

    <!-- 3D Model and buttons -->
    <h1>Interactive 3D Model of Kepler 7b</h1>
    <iframe class="embed-responsive-item mt-3" src="https://eyes.nasa.gov/apps/exo/#/planet/Kepler-7_b" id="kepler-70-frame" allowfullscreen scrolling="false" width="1026" height="578"></iframe>

    <div class="btn-group-sm mt-3" role="group">
        <a class="btn btn-outline-info btn-lg mw-2" href="/story/3.1">
        <i class="fas fa-arrow-left"></i>
        </a>
        <a class="btn btn-outline-info btn-lg mw-2" href="/story/4.1">
        <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</div>

{% endblock %}
