{% extends "layout.html" %}

{% block title %}Kepler 22b{% endblock %}

{% block main %}

<style>
    body {
        background-image: url("/static/storybg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<div class="container">
    <div class="path">
        <img src="/static/rocket.png" class="rocket" data-pos="52.92">
    </div>
    
    <div class="story-text">
        <h1 class="fs-1 lead">Planet System - Kepler 22b</h1>
        <hr>
        <div class="card bg-space p-2 t-card mt-3 left-card">
            Kepler-22b (also known by its Kepler Object of Interest designation KOI-087.01) is an exoplanet orbiting within the habitable zone of the Sun-like star Kepler-22. It is located about 640 light-years (200 parsecs) from Earth in the constellation of Cygnus. It was discovered by NASA's Kepler Space Telescope in December 2011 and was the first known transiting planet to orbit within the habitable zone of a Sun-like star, where liquid water could exist on the planet's surface. Kepler-22 is too dim to be seen with the naked eye.
        </div>
        
        <div class="card bg-space p-2 t-card mt-3 left-card">
            Kepler-22b's radius is roughly twice that of Earth. Its mass and surface composition are unknown. However, an Earth-like composition for the planet has been ruled out; it is likely to have a volatile-rich composition with a liquid or gaseous outer shell. The only parameters of the planet's orbit that are currently available are its orbital period (about 290 days) and its inclination (approximately 90°). Evidence suggests that the planet has a moderate surface temperature, assuming that the surface is not subject to extreme greenhouse heating. In the absence of an atmosphere, its equilibrium temperature (assuming an Earth-like albedo) would be approximately 279 K (6 °C; 43 °F), slightly higher than that of Earth's 255 K (−18 °C; −1 °F).
        </div>
        
        <h2>Physical Characteristics</h2>
        <h3>Mass, Radius, and Temperature</h3>
        <div class="card bg-space p-2 t-card mt-3 left-card">
            Kepler-22b's radius was initially thought to be 2.4 times that of Earth, but has since been revised to 2.1 times that of Earth as of 2023. Its mass and surface composition remain unknown, with only some rough estimates established: at the time of the discovery announcement, it was known to have fewer than 124 times the mass of Earth at the 3-sigma confidence limit, and fewer than 36 times the mass of Earth at 1-sigma confidence. The adopted model in Kipping et al. (2013) does not reliably detect the mass (the upper limit is 52.8 times the mass of Earth). As of 2023, the upper limit has been constrained to at most 9.1 times the mass of Earth.
        </div>
        
        <div class="card bg-space p-2 t-card mt-3 left-card">
            Kepler-22b, dubbed by scientists as a 'water world', might be an 'ocean-like' planet. It might also be comparable to the water-rich planet Gliese 1214 b although Kepler-22b, unlike Gliese 1214 b, is in the habitable zone. An Earth-like composition is ruled out to at least 1-sigma uncertainty by radial velocity measurements of the system. It is thus likely to have a more volatile-rich composition with a liquid or gaseous outer shell; this would make it similar to Kepler-11f, one of the smallest known gas planets. Natalie Batalha, one of the scientists on the Kepler Space Telescope project, has speculated, "If it is mostly ocean with a small rocky core, it's not beyond the realm of possibility that life could exist in such an ocean". This possibility has spurred SETI to perform research on top candidates for extraterrestrial life.
        </div>
        
        <div class="card bg-space p-2 t-card mt-3 left-card">
            In the absence of an atmosphere, its equilibrium temperature (assuming an Earth-like albedo) would be approximately 279 K (6 °C), compared with Earth's 255 K (−18 °C).
        </div>
        
        <h2>Host Star</h2>
        <div class="card bg-space p-2 t-card mt-3 left-card">
            The host star, Kepler-22, is a G-type star that is 3% less massive than the Sun and 2% smaller in volume. It has a surface temperature of 5,518 K (5,245 °C; 9,473 °F) compared with the Sun, which has a surface temperature of 5,778 K (5,505 °C; 9,941 °F). The star is about 4 billion years old. In comparison, the Sun is 4.6 billion years old.
        </div>
        
        <div class="card bg-space p-2 t-card mt-3 left-card">
            The apparent magnitude of Kepler-22 is 11.5, which means it is too dim to be seen with the naked eye.
        </div>
        
        <h2>Orbit</h2>
        <div class="card bg-space p-2 t-card mt-3 left-card">
            The only parameters of the planet's orbit that are currently available are its orbital period, which is about 290 days, and its inclination, which is approximately 90°. From Earth, the planet appears to make a transit across the disk of its host star. In order to obtain further information about the details of the planet's orbit, other methods of planetary detection, such as the radial velocity method, need to be used. While such methods have been performed on the planet since its discovery, these methods have not yet detected an accurate value for the eccentricity of the planet and so (as of 2023) only an upper limit for the eccentricity of the planet has been set by astronomers.
        </div>
        
        <h2>Habitability</h2>
        <div class="card bg-space p-2 t-card mt-3 left-card">
            The average distance from Kepler-22b to its host star Kepler-22 is about 15% less than the distance from Earth to the Sun but the luminosity (light output) of Kepler-22 is about 25% less than that of the Sun. This combination of a shorter average distance from the star and a lower stellar luminosity are consistent with a moderate surface temperature at that distance, if it is assumed that the surface is not subject to extreme greenhouse heating.
        </div>
        
        <div class="card bg-space p-2 t-card mt-3 left-card">
            If Kepler-22b moves in a highly elliptical orbit, its surface temperature variance will be very high.
        </div>
        
        <h2>Climate</h2>
        <div class="card bg-space p-2 t-card mt-3 left-card">
            Scientists can estimate the possible surface conditions as follows:
            <ul>
                <li>In the absence of an atmosphere, its equilibrium temperature (assuming an Earth-like albedo) would be approximately 279 K (6 °C), compared to Earth's 255 K (−18 °C).</li>
                <li>If the atmosphere provides a greenhouse effect similar in magnitude to the one on Earth, it would have an average surface temperature of 295 K (22 °C).</li>
                <li>If the atmosphere has a greenhouse effect similar in magnitude to the one on Venus, it would have an average surface temperature of 733 K (460 °C).</li>
            </ul>
        </div>
        
        <div class="card bg-space p-2 t-card mt-3 left-card">
            Recent estimates suggest that Kepler-22b has more than a 95% probability of being located in the empirical habitable zone defined by the recent Venus and early Mars limits (based on estimates of when these planets may have supported habitable conditions), but less than a 5% chance of being located in the conservative habitable zone within the Circumstellar habitable zone, estimated from a 1D cloud-free radiative-convective model.
        </div>
        
        <h2>Limits on Satellites</h2>
        <div class="card bg-space p-2 t-card mt-3 left-card">
            The Hunt for Exomoons with Kepler (HEK) project has studied the Kepler photometry of the planet, to find any evidence of transit timing and duration variations that may be caused by an orbiting satellite. Such variations were not found, ruling out the existence of any satellites of Kepler-22b with a mass greater than 0.54 Earth masses.
        </div>
        
        <h2>Discovery and Observation</h2>
        <div class="card bg-space p-2 t-card mt-3 left-card">
            The planet's first transit in front of its host star was observed on Kepler's third day of scientific operations, on 12 May 2009. The third transit was detected on 15 December 2010. Additional confirmation data was provided by the Spitzer Space Telescope and ground-based observations. Confirmation of the existence of Kepler-22b was announced on 5 December 2011.
        </div>
        
        <h2>Past Transit Dates</h2>
        <table>
            <thead>
                <tr>
                    <th>Date(s) of Transit</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>15 May 2009</td>
                    <td>First transit observed by Kepler</td>
                </tr>
                <tr>
                    <td>12 June 2009</td>
                    <td>Second transit observed by Kepler</td>
                </tr>
                <tr>
                    <td>7 November 2010</td>
                    <td>Third transit observed by Kepler</td>
                </tr>
                <tr>
                    <td>15 December 2010</td>
                    <td>Additional confirmation by ground-based observations</td>
                </tr>
            </tbody>
        </table>
        
        <h2>Other Notes</h2>
        <div class="card bg-space p-2 t-card mt-3 left-card">
            In September 2012, Kepler-22b was included in the set of Kepler candidates which were identified as potential targets for the search for extraterrestrial intelligence (SETI).
        </div>
    </div>
    
    

    <!-- Planet properties grid -->
    <div class="planet-grid">
        <div class="grid-item"><strong class="info-title">Planet Radius:</strong> 2.1 x Earth</div>
        <div class="grid-item"><strong class="info-title">Planet Type:</strong> Super Earth</div>
        <div class="grid-item"><strong class="info-title">Discovery Method:</strong> Transit</div>
        <div class="grid-item"><strong class="info-title">Planet Mass:</strong> 9.1 Earths</div>
        <div class="grid-item"><strong class="info-title">Discovery Date:</strong> 2011</div>
        <div class="grid-item"><strong class="info-title">Orbital Radius:</strong> 0.812 AU</div>
        <div class="grid-item"><strong class="info-title">Orbital Period:</strong> 289.9 days</div>
        <div class="grid-item"><strong class="info-title">Eccentricity:</strong> < 0.72</div>
    </div>

    <hr>

    <!-- 3D Model and buttons -->
    <h1>Interactive 3D Model of Kepler 22b</h1>
    <iframe class="embed-responsive-item mt-3" src="https://eyes.nasa.gov/apps/exo/#/planet/Kepler-22_b" id="kepler-70-frame" allowfullscreen scrolling="false" width="1026" height="578"></iframe>

    <div class="btn-group-sm mt-3" role="group">
        <a class="btn btn-outline-info btn-lg mw-2" href="/story/4.1">
        <i class="fas fa-arrow-left"></i>
        </a>
        <a class="btn btn-outline-info btn-lg mw-2" href="/story/5.1">
        <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</div>

{% endblock %}
