{% extends "layout.html" %}

{% block title %}Story Intro{% endblock %}

{% block main %}

<style>
    body {
        background-image: url("/static/storybg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<div class="container">
    <div class="path">
        <img src="/static/rocket.png" class="rocket" data-pos="0">
    </div>
    <div class="story-text">
        <h1 class="fs-1 lead">Your Story</h1>
        <hr>
        <div class="card bg-space p-2 t-card left-card">
            Welcome aboard the Celestial Voyager, an advanced superluminal spacecraft engineered for interstellar exploration.
        </div>
        <div class="card bg-space p-2 t-card mt-3 left-card">
            Our mission is to embark on a remarkable journey through the cosmos, traversing six distinct alien world systems, each representing unique celestial phenomena and potential for discovery. 
        </div>
        <div class="card bg-space p-2 t-card mt-3 right-card">
            As we navigate the vast expanse of space, we will witness the complexities of astrophysical environments and the diverse characteristics that define these worlds. 
        </div>
        <div class="card bg-space p-2 t-card mt-3 right-card">
            Prepare for an extraordinary adventure as we set our course through the unknown, expanding the boundaries of human knowledge and understanding of the universe.
        </div>
    </div>
    <div class="btn-group-sm mt-3" role="group">
        <a class="btn btn-outline-info btn-lg mw-2" href="/">
        <i class="fas fa-arrow-left"></i>
        </a>
        <a class="btn btn-outline-info btn-lg mw-2" href="/story/1.1">
        <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</div>

{% endblock %}
